<app-home *ngIf="router.url == '/'"></app-home>
<button (click)="router.navigate(['personal'])">Personal</button>
<button (click)="router.navigate(['professional'])">Professional</button>
<button (click)="router.navigate(['/'])">Go To Root</button>
<h1>Current URL {{ router.url }}</h1>
<router-outlet></router-outlet>